.program {
  display: flex;
  height: 80vh;
  border: 1px solid grey;
}

.title {
  font-family: "Courier New", Courier, monospace;
}

.repl {
  width: 50%;
  border: 1px solid grey;
}

.repl-history {
  height: 90%;
  display: block;
  overflow: scroll;
  font-family: "Courier New", Courier, monospace;
}

.repl-input {
  display: flex;
}

.repl-command-box {
  width: 90%;
  display: block;
  font-family: "Courier New", Courier, monospace;
}

.viewer {
  width: 50%;
  border: 1px solid grey;
}

.viewer td {
  border: 1px solid black;
}
